@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  line-height: 1.5;
  background-color: white;
}
a:focus-visible,
button:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;

  box-shadow:
    inset 0 0 0 2px #fafafa,
    inset 0 0 0 4px rgba(163, 163, 163, 1),
    0 0 0 0 rgba(0, 0, 0, 0);
}

/* auth form  */
.form-container {
  width: 100%;
}
.form-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-heading h2 {
  font-size: 2rem;
  font-weight: 500;
}
.form-heading p {
  font-size: 1rem;
}
.input-box {
  position: relative;
  width: 100%;
  height: 3.5rem;
}
.input-box input {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #d1d5db;
  outline: none;
  color: #1f2937;
  font-size: 0.875rem;
  padding: 0.25rem 0;
  transition: all 0.5s ease;
}
.input-box input:placeholder-shown {
  color: #d9d9d9;
  font-size: 1rem;
}
.input-box label {
  position: absolute;
  top: 20%;
  left: 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4b5563;
  pointer-events: none;
  transition: all 0.2s ease;
}
.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
  top: -1rem;
  color: #1f2937;
}

.error-mss {
  color: #db4444;
  font-weight: 500;
  font-size: 0.875rem;
}
.error-mss:hover {
  text-decoration: underline;
}

/* cart */
.cart-table {
  th,
  td {
    padding-block: 0.5rem;
    padding-inline: 1rem;
  }
}
.cart-table th {
  font-weight: 500;
}

/*account sidenav */
.sn-items li a:hover {
  color: #374151;
}

/* footer */
.footer li a:hover {
  color: #e5e7eb;
}
.social-icons div a {
  color: white;
  padding: 0.25rem;
  border-radius: 50%;
}
.social-icons div a:hover {
  background-color: #ffff;
  color: black;
  cursor: pointer;
  animation: icon_shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}
@keyframes icon_shake {
  0% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(-10deg) scale(1);
  }
  40% {
    transform: rotate(10deg) scale(1.2);
  }
  60% {
    transform: rotate(-10deg) scale(1.2);
  }
  80% {
    transform: rotate(10deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@media only screen and (max-width: 768px) {
  .cart-table {
    th,
    td {
      padding: 0.5rem;
    }
  }
}
